.overall
  = form_with model: @post, local: true do |form|
    .overall__wrapper
      .overall__wrapper__header
        .overall__wrapper__header__left-box
          = link_to "ホーム", root_path, class: "btn-flat"
        .overall__wrapper__header__right-box
          .overall__wrapper__header__right-box__box1
            = link_to "下書き保存", "#", class: "btn-simple"
          .overall__wrapper__header__right-box__box2
            = form.submit "送信", class: "btn-gradient"
      .overall__wrapper__main
        .overall__wrapper__main__form
          .overall__wrapper__main__form__email
            = form.email_field :email, placeholder: "送り主のEmail"
          .overall__wrapper__main__form__explain
            %p 送る日
          .overall__wrapper__main__form__date
            = form.date_select :date, date_separator: '/', use_month_numbers:true
        .overall__wrapper__main__main-box
          .overall__wrapper__main__main-box__side-bar
            .overall__wrapper__main__main-box__side-bar__block1
              = form.radio_button :select, "デザイン1", class: "radio_btn", id: "design1"
              = form.label "デザイン1", for: "design1"
            .overall__wrapper__main__main-box__side-bar__block2
              = form.radio_button :select, "デザイン2", class: "radio_btn", id: "design2"
              = form.label "デザイン2", for: "design2"
            .overall__wrapper__main__main-box__side-bar__block3
              = form.radio_button :select, "デザイン3", class: "radio_btn", id: "design3"
              = form.label "デザイン3", for: "design3"
            .overall__wrapper__main__main-box__side-bar__block4
              = form.radio_button :select, "デザイン4", class: "radio_btn", id: "design4"
              = form.label "デザイン4", for: "design4"
            .overall__wrapper__main__main-box__side-bar__block5
              = form.radio_button :select, "デザイン5", class: "radio_btn", id: "design5"
              = form.label "デザイン5", for: "design5"
            .overall__wrapper__main__main-box__side-bar__block6
              = form.radio_button :select, "デザイン6", class: "radio_btn", id: "design6"
              = form.label "デザイン6", for: "design6"
            .overall__wrapper__main__main-box__side-bar__block7
              = form.radio_button :select, "デザイン7", class: "radio_btn", id: "design7"
              = form.label "デザイン7", for: "design7"
            .overall__wrapper__main__main-box__side-bar__block8
              = form.radio_button :select, "デザイン8", class: "radio_btn", id: "design8"
              = form.label "デザイン8", for: "design8"
          .overall__wrapper__main__main-box__main-bar
            .overall__wrapper__main__main-box__main-bar__letter
              = find_and_preserve(form.text_area :content, id:"overall__wrapper__main__main-bar__letter__text", placeholder: "ここから書く")
