.show
  .show__overall
    .show__overall__header
    .show__overall__content
      - if @post.select == "デザイン1"
        .show__overall__content__post{ style: "background: url('/images/../assets/car.jpg'); background-size: cover"}
          .show__overall__content__post__text
            = simple_format(@post.content)
      - elsif @post.select == "デザイン2"
        .show__overall__content__post{ style: "background: url('/images/../assets/cat.jpg'); background-size: cover"}
          .show__overall__content__post__text
            = simple_format(@post.content)
      - elsif @post.select == "デザイン3"
        .show__overall__content__post{ style: "background: url('/images/../assets/chair.jpg'); background-size: cover"}
          .show__overall__content__post__text
            = simple_format(@post.content)
      - elsif @post.select == "デザイン4"
        .show__overall__content__post{ style: "background: url('/images/../assets/cherry-blossom.jpg'); background-size: cover"}
          .show__overall__content__post__text
            = simple_format(@post.content)
      - elsif @post.select == "デザイン5"
        .show__overall__content__post{ style: "background: url('/images/../assets/flower.jpg'); background-size: cover"}
          .show__overall__content__post__text
            = simple_format(@post.content)
      - elsif @post.select == "デザイン6"
        .show__overall__content__post{ style: "background: url('/images/../assets/pattern.jpg'); background-size: cover"}
          .show__overall__content__post__text
            = simple_format(@post.content)
      - elsif @post.select == "デザイン7"
        .show__overall__content__post{ style: "background: url('/images/../assets/sunset.jpg'); background-size: cover"}
          .show__overall__content__post__text
            = simple_format(@post.content)
      - elsif @post.select == "デザイン8"
        .show__overall__content__post{ style: "background: url('/images/../assets/wave.jpg'); background-size: cover"}
          .show__overall__content__post__text
            = simple_format(@post.content)
